# Project exclude paths
/.gradle/
/Phone Book/task/build/
/Phone Book/task/out/
/Phone Book/task/out/production/classes/
/Topics/Lambda expressions/Theory/out/
/Topics/Lambda expressions/Theory/out/production/classes/
/Topics/Mutable List/Banana_/out/
/Topics/Mutable List/Banana_/out/production/classes/
/Topics/Mutable List/Remove us/out/
/Topics/Mutable List/Remove us/out/production/classes/
/Topics/The Math library/Fourth root/out/
/Topics/The Math library/Fourth root/out/production/classes/
/Topics/The Math library/Max of four numbers/out/
/Topics/The Math library/Max of four numbers/out/production/classes/
/Topics/The Math library/National assembly/out/
/Topics/The Math library/National assembly/out/production/classes/
/Topics/The Math library/Quadratic equation/out/
/Topics/The Math library/Quadratic equation/out/production/classes/
/Topics/The Math library/Sine and cosine/out/
/Topics/The Math library/Sine and cosine/out/production/classes/